* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
.main-wrapper {
  background-color: hsl(0, 0%, 50%); 
  padding-block: 20px;
  margin-right: auto;
}
.card{
  background-color: hsl(100,100%,100%);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;


}
.indented-heading{
  background-color: hsl(39.3, 100%, 50%);
  margin-left: -10px;
  width: fit-content;
}
strong{
  color: hsl(105, 67%, 45%);
}
.fade1{
  background-color: hsl(105, 67%, 45%);
  margin-bottom: -30px;
  width: initial;
  height: 10px;
}